<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>ETL Viewer</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-type"
	content="application/json; charset=utf-8" />

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script src="template/js/control.js"></script>  
<script src="template/js/func.js"></script>



</head>




<body>

<div>


Continent: <select name="continent" id="continent">
<option value="world">World</option>
<option value="002">Africa</option>
<option value="150">Europe</option>
<option value="019">Americas</option>
<option value="142">Asia</option>
<option value="009">Oceania</option>
</select>
<button id="btnworld">Go</button>
</div>

<div>
Country: <select name="country" id="country">
<option value="US">US</option>
</select>
Device Type: <select name="devicetype" id="devicetype">
<option value="0">ALL</option>
<option value="1">PB980</option>
<option value="2">SCD700</option>
<option value="3">ForceTriad</option>
<option value="4">Cooltip</option>
</select>
<button id="btncountry">Go</button>
</div>

<div>
Province: <select name="province" id="province">
<option value="US-AL">Alabama</option>
<option value="US-AK">Alaska</option>
<option value="US-AZ">Arizona</option>
<option value="US-AR">Arkansas</option>
<option value="US-CA">California</option>
<option value="US-CO">Colorado</option>
<option value="US-CT">Connecticut</option>
<option value="US-DE">Delaware</option>
<option value="US-FL">Florida</option>
<option value="US-GA">Georgia</option>
<option value="US-HI">Hawaii</option>
<option value="US-ID">Idaho</option>
<option value="US-IL">Illinois</option>
<option value="US-IN">Indiana</option>
<option value="US-IA">Iowa</option>
<option value="US-KS">Kansas</option>
<option value="US-KY">Kentucky</option>
<option value="US-LA">Louisiana</option>
<option value="US-ME">Maine</option>
<option value="US-MD">Maryland</option>
<option value="US-MA">Massachusetts</option>
<option value="US-MI">Michigan</option>
<option value="US-MN">Minnesota</option>
<option value="US-MS">Mississippi</option>
<option value="US-MO">Missouri</option>
<option value="US-MT">Montana</option>
<option value="US-NE">Nebraska</option>
<option value="US-NV">Nevada</option>
<option value="US-NH">New Hampshire</option>
<option value="US-NJ">New Jersey</option>
<option value="US-NM">New Mexico</option>
<option value="US-NY">New York</option>
<option value="US-NC">North Carolina</option>
<option value="US-ND">North Dakota</option>
<option value="US-OH">Ohio</option>
<option value="US-OK">Oklahoma</option>
<option value="US-OR">Oregon</option>
<option value="US-PA">Pennsylvania</option>
<option value="US-RI">Rhode Island</option>
<option value="US-SC">South Carolina</option>
<option value="US-SD">South Dakota</option>
<option value="US-TN">Tennessee</option>
<option value="US-TX">Texas</option>
<option value="US-UT">Utah</option>
<option value="US-VT">Vermont</option>
<option value="US-VA">Virginia</option>
<option value="US-WA">Washington</option>
<option value="US-WV">West Virginia</option>
<option value="US-WI">Wisconsin</option>
<option value="US-WY">Wyoming</option>
<option value="US-DC">District of Columbia</option>
<option value="US-AS">American Samoa</option>
<option value="US-GU">Guam</option>
<option value="US-MP">Northern Mariana Islands</option>
<option value="US-PR">Puerto Rico</option>
<option value="US-UM">United States Minor Outlying Islands</option>
<option value="US-VI">Virgin Islands, U.S.</option>
</select>
<button id="btnprovince">Go</button>
</div>

<div id="geo">
<div id="chart_geo" style="width: 512px; height: 384px;"></div>
</div>
<div id="pie">
<div id="chart_pie" style="width: 512px; height: 384px;"></div>
</div>



</body>

</html>